@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsl(214, 97%, 45%);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(50, 98%, 42%, 0.37);
  }
}

@media (prefers-color-scheme: dark) {
  a,
  .green {
    text-decoration: none;
    color: hsl(50, 98%, 42%);
    transition: 0.4s;
    padding: 3px;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {

  }
}
